#myDiv main header p,
p {
  color: blue;
}

* {
  padding: 0;
  margin: 0;
}
.container {
  border: 2px solid red;
  /* padding: 2px 0px 20px 40px; */
  /* padding-left: 10px;
  padding-top: 20px; */
  /* margin: 30rem; */
  /* background-color: aqua; */
  /* margin-top: ; */
  height: 40rem;
  width: 50rem;
  background-image: url("https://thumbs.dreamstime.com/b/falling-drop-rain-blue-earth-image-water-splash-crown-shape-water-splash-crown-shape-falling-drop-earth-140453719.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
